* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url("./assets//bglight.jpg");
}

body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

#board {
  background: url("./assets/flappybggif.gif");
  border: 3px solid #fff;
  border-radius: 20px;
  display: relative;
}

.game-description {
  color: #fff;
  background-color: #10d08c;
  margin: 10px auto;
  width: 360px;
}

.game-info {
  color: #fff;
}

.game-info .bordered {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 2px 4px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.hidden {
  display: none;
}

#new-game-btn {
  display: absolute;
  left: 50px;
}
